{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "rules": {
    "relay/graphql-naming": 0,
    "max-len": 0,
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  },
  "env": {
    "node": true,
    "browser": true
  }
}